* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}
body {
    font-family: 'Lato', sans-serif;
}
html,
body {
    height: 100%;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}
.header {
    background-color: #222222;
    width: 100%;
    min-height: 75px;
}

.top-header {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}
.header__right {
    display: flex;
    align-items: center;
    width: 48%;
    cursor: pointer;
    justify-content: end;
    
}
.header__left {
    display: flex;
   width: 48%;
    align-items: center;
    cursor: pointer;
}
.banner {
    width: 100%;
    background: #F1E4E6;
    height: 764px;
}
.banner-block-res {
    height: 100%;
    background-image: url(img/mainbanner.png);
    background-repeat: no-repeat;
    background-position-x: -180px;
}
 .banner-line-res {
    height: 98px;
    margin-left: 44%;
}
.red-height-res {
    
        width: 12px;
        height: 100%;
        background-color: #f16d7f;
        float: left;
        margin-top: 228px;
    }
 .baner-text-res {
    font-family: Lato, sans-serif;
    float: left;
    margin-top: 224px;
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
    color: #222222;
    text-align: left;
    padding-left: 12px;
}
.baner-mini-text-res {
    font-size: 40px;
    line-height: 1.2;
    color: #222222;
}
.red-word-res {
    font-size: 40px;
    color: #f16d7f;
}
.main-heading {
    border: 1px solid transparent;
    border-left: 12px solid #f16d7f;
    padding:  16px;
    height: 93px;
    margin-top: 290px;
}
.menu-header {
    position: relative;

}
.menu {
    position: absolute;
    z-index: 4;
    width: 232px;
    background: #FFFFFF;
}
.mega-link {
    display: block;
}
.logo {
    padding: 16px;
}
.search {
    padding: 16px;
}
.main_h {
 font-size: 48px;
 font-weight: 900;
 line-height: 56px;
color: #222222;
}
.main_text {
    
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    
}
.banner-img {
   background-image: url(img/mainbanner.png);
    height: 100%;
}
.red-word {
    color: #f16d7f;
}
.offer-block__up {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.offer-block {
    margin-top: 65px;
    margin-bottom: 96px;
}
.item-img {
    width: 33%;
    
}
.item-img1 {
    width: 100%;
}
.header__right_header-nav {
    margin-left: 8%;
}
.brand {
    
    border-left: 12px solid #f16d7f;
    width: 48%;
    height: 17%;
    margin-top: 200px;
    
}
.pusto {
    width: 48%;
}